<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>All Users</h2>
  <p>User Records(<%= users.length %>)</p>
  <a href="/crud/add" class="btn btn-info" style="left:auto;">Add</a>            
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
        <%  for(const data of users){ %>
      <tr>
        <td><%= data.f_name %></td>
        <td><%= data.l_name %></td>
        <td><%= data.email %></td>
        <td>
          <a href="/crud/edit/<%= data.id %>" class="btn btn-success">Edit</a>
          <a href="/crud/delete/<%= data.id %>" class="btn btn-danger">Delete</a>
        </td>
      </tr>
      <% } %>
      
    </tbody>
  </table>
</div>

</body>
</html>
